<div class="container">      
    <div class="row">
    <br>  
    <td><a href="/documental" class="btn btn-primary">New</a></td> 
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Document type</th>
            <th>Document Number</th>
            <th>Action</th>
            <th colspan="2">Operations</th>
        </tr>
        </thead>
        {{#each documents}}
          <tr>
            <td>{{this.documentType}}</td> 
            <td>{{this.documentNumber}}</td>
            {{#if this.isLost}}
            <td>Lost</td>
            {{else}}
            <td>Found</td>
            {{/if}}
              <td><a href="/users/{{this.user._id}}/documents/{{this._id}}">Change</a></td> 
              <td><form method="post" action="/users/{{this.user._id}}/documents/{{this._id}}?_method=DELETE">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn btn-link">Delete</button>
            </form></td>
           <!-- <td><a href="/users/{{this.user._id}}/documents/{{this._id}}">Delete</a></td>-->
          </tr>          
       {{/each}}   
      </table>
    </div>
</div>
